.container {
  width: 600px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  h1 {
    font-size: 62px;
    line-height: 75px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-weight: 800;
  }
  p {
    font-size: 32px;
    line-height: 39px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 60px;
  }
  button{
    font-family: 'Segoe UI';
  }
}

.startGameBtn {
  border-radius: 30px;
  border: 0;
  padding: 20px 50px;
  color: #fff;
  background: linear-gradient(180deg, #b235ff 0%, #d900b6 100%);
  box-shadow: 0 4px 0 #8f00ff;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  font-weight: bold;  
}
